.order-track-main {
   display: flex;
}

.aside-order-track {
   flex: 1;
}

.img-maps-order {
   width: 600px;
   height: 640px;
}

.right-order-track {
   flex: 2;
   padding: 100px;
}

.desc-order-track {
   text-align: center;
   font-weight: 500;
}

.id-order-track {
   padding: 30px 30px 0px 0px;
   font-size: 20px;
   font-weight: 500;
}

.input-order-track {
   border: 1px solid rgba(206, 206, 206, 1);
   height: 70px;
   width: 500px;
   padding-left: 20px;
}

.btn-submit-order-track {
   padding: 20px 200px;
}

.tracking-detail-order {
   flex: 2;
   flex-direction: row;
   padding: 80px 100px;
}

.tracking-delivery {
   display: flex;
   padding-top: 80px;
}

.tracking-destination {
   display: flex;
   padding-top: 30px;
}

.img-tracking {
   margin: 0px 20px 20px 0px;
}

.img-destination {
   color: darkgray;
   margin: 5px 20px 20px 0px;
}

.on-delivery {
   margin: 0;
}

.on-destination {
   margin: 0;
   color: #4d4d4d;
}

.addres-destination {
   color: #4d4d4d;
}

.order-id-order-item {
   padding-right: 20px;
}

.line-order-tracking {
   display: flex;
   padding-bottom: 25px;
   border-bottom: 1px solid rgba(206, 206, 206, 1);
}

.blank-area-tracking {
   border-left: 2px dashed rgb(99, 95, 95);
   margin-left: 15px;
   height: 100px;
}

@media (max-width: 834px) {
   .img-maps-order {
      display: none;
   }

   .aside-order-track {
      flex: 0;
   }

   .input-order-track {
      width: 310%;
   }

   .btn-submit-order-track {
      padding: 20px 250px;
   }
}

@media (max-width: 428px) {
   .order-track-main {
      display: block;
   }

   .right-order-track {
      flex: 0;
      padding: 10px;
   }

   .input-order-track {
      width: 200%;
   }

   .btn-submit-order-track {
      padding: 20px 150px;
   }
}
